ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  display: inline-block;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
}

li .content {
  display: flex;
  flex-direction: column;
  width: 8em;
  height: 8em;
  background-color: lightblue;
  text-align: center;
}

li .name {
  background-color: blue;
  color: white;
  padding: 0.15em;
}

li .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 2.5em;
}

